n8n/workflows/comfyui-integration.json
{
  "name": "ComfyUI Image Generation",
  "nodes": [
    {
      "parameters": {
        "path": "comfyui-generate",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "comfyui-webhook"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "create",
        "prompt": "={{$json[\"prompt\"]}}",
        "negativePrompt": "={{$json[\"negative_prompt\"]}}",
        "width": 512,
        "height": 512,
        "steps": 20,
        "cfg": 7,
        "sampler": "euler",
        "scheduler": "normal",
        "seed": -1
      },
      "id": "comfyui-node",
      "name": "ComfyUI",
      "type": "n8n-nodes-comfyui.comfyUi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "comfyUiApi": {
          "id": "1",
          "name": "ComfyUI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify({status: \"success\", image_url: $json[\"image_url\"], prompt: $node[\"Webhook\"].json[\"prompt\"], timestamp: new Date().toISOString()}) }}",
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "genai-stack",
    "templateId": "comfyui-generation"
  },
  "tags": []
}
